:root {
  @font-face {
    font-family: 'CerebriSansPro';
    src: url('../../fonts/CerebriSansPro-Light.ttf') format('truetype');
    font-weight: 300;
  }

  @font-face {
    font-family: 'CerebriSansPro';
    src: url('../../fonts/CerebriSansPro-Regular.ttf') format('truetype');
    font-weight: 400;
  }

  @font-face {
    font-family: 'CerebriSansPro';
    src: url('../../fonts/CerebriSansPro-Medium.ttf') format('truetype');
    font-weight: 500;
  }

  @font-face {
    font-family: 'CerebriSansPro';
    src: url('../../fonts/CerebriSansPro-Bold.ttf') format('truetype');
    font-weight: 600;
  }

  @font-face {
    font-family: 'CerebriSansPro';
    src: url('../../fonts/CerebriSansPro-SemiBold.ttf') format('truetype');
    font-weight: 700;
  }

  @font-face {
    font-family: 'CerebriSansPro';
    src: url('../../fonts/CerebriSansPro-Heavy.ttf') format('truetype');
    font-weight: 800;
  }

  --color-bg: #efefef;
  --color-bg-dark: rgba(0, 0, 0, 0.65);
  --color-accent: #14cf93;
  --color-text: #1e293b;
  --color-dark: #020617;
  --color-grey-1: #f3f4f6;
  --color-grey-2: #4c5c68;
  --color-grey-3: #0f172a;
}
